@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=M+PLUS+1+Code&family=Orbitron&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e7eb;
  font-family: "Poppins", sans-serif;
}

.container {
  background: #161a1d;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  background: #f8f8f8;
  display: flex;
  flex-direction: column;
  padding: 2vw 5vw;
  max-width: 600px;
  width: 90%;
  border-radius: 10px;
}

form h2 {
  margin-bottom: 20px;
  color: rgb(31, 28, 28);
  font-weight: 800;
}

form input,
form textarea {
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background: #c7f9cc;
  font-size: 1.125rem;
}

/* button */
/* this button is inspired from this -- https://www.newline.co/pricing */
button {
  --width: 150px;
  --timing: 2s;
  border: 0;
  width: var(--width);
  padding-block: 1em;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  background: rgb(64, 192, 87);
  transition: all 0.2s;
  border-radius: 3px;
  padding: 15px;
  cursor: pointer;
  margin: 20px auto 0;
  border-radius: 30px;
}

button:hover {
  background-image: linear-gradient(
    to right,
    rgb(250, 82, 82),
    rgb(250, 82, 82) 16.65%,
    rgb(190, 75, 219) 16.65%,
    rgb(190, 75, 219) 33.3%,
    rgb(76, 110, 245) 33.3%,
    rgb(76, 110, 245) 49.95%,
    rgb(64, 192, 87) 49.95%,
    rgb(64, 192, 87) 66.6%,
    rgb(250, 176, 5) 66.6%,
    rgb(250, 176, 5) 83.25%,
    rgb(253, 126, 20) 83.25%,
    rgb(253, 126, 20) 100%,
    rgb(250, 82, 82) 100%
  );
  animation: var(--timing) linear dance6123 infinite;
  transform: scale(1.1) translateY(-1px);
}

@keyframes dance6123 {
  to {
    background-position: var(--width);
  }
}
